<div class="container">
    <h1 style="color: green;" class="display-1 text-center">S U C C E S S</h1>
    <form class="text-center" asp-action="Logout" asp-controller="Home" method="POST">
        <button class="btn btn-outline-secondary" type="submit">Logout</button>
    </form>
</div>